<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.kanozo.main.service.Impl.MainPageMapper">
	
	<select id=getFreeBoard" resultType="egovframework.kanozo.main.cmm.FreeBoardSampleVO">
		SELECT ID, CONTENT FROM NOTICE_TB_DATA ORDER BY ID
	</select>
	
	<select id="sampleFree" resultType="samplefreeVO">
		SELECT ID, CONTENT FROM SPRING_BOARDS2 ORDER BY ID
	</select>
	
	<select id="slideItem" resultType="mainslideitemVO">
		SELECT CONTENT FROM SPRING_BOARDS2 ORDER BY ID
	</select>


</mapper>